<div class="container">
<h1><%= @trip.title %></h1>

<hr />

<h2>Date of <%= @trip.title %>: <%= @trip.date %></h2>

<h3>Description: <%= @trip.description %></h3>

<h4>Location: <%= @resort.name %></h4>
<% if @trip.user_id == current_user.id %>
<%= link_to 'Edit', edit_trip_path(@trip) %>
<%= link_to 'Delete', trip_path(@trip), method: :delete, data: {confirm: 'You want to delete this trip?'} %>
<% end %>
<%= link_to 'Back', trips_path, class:'btn btn-info' %>
</div>
