<div class="container-fluid">  
<div class='row'>
<div class='container group form-group container-fluid'>
  <h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>

  <div class="input-field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="input-field">


  <div class="input-field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

  <div class="input-field">
    <%= f.label :skill_level %><br />
    <%= f.select :skill_level, ['Beginner', 'Intermediate', 'Pro'], {}, class:"browser-default" %>
  </div>

  <div class="input-field">
    <%= f.label :ski_or_board %><br />
    <%= f.select :ski_or_board, ['Skier', 'Snowboarder'], {}, class:"browser-default" %>
  </div>

  <div class="input-field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="input-field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class:'btn' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
