
<%= form_for current_user do |f| %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :skill_level %><br />
    <%= f.select :skill_level, ['Beginner', 'Intermediate', 'Pro'], {}, class:"browser-default" %>
  </div>

  <div class="field">
    <%= f.label :ski_or_board %><br />
    <%= f.select :ski_or_board, ['Ski', 'Snowboard'], {}, class:"browser-default" %>
  </div>

  <%= f.submit %>

<% end %>