<h3>Your Profile </h3>
<hr/>
<h3> Name : <%= @user.name %> </h3>
<br/>
<h3> Age : <%= @user.age %> </h3>
<br/>
<h3> Description : <%= @user.description %> </h3>
<br/>
<h3> Skill Level : <%= @user.skill_level %> </h3>
<br/>
<h3> Ski/Board : <%= @user.ski_or_board %> </h3>
<br/>

<div><%= image_tag @user.image.url(:medium) %></div>

<%= link_to 'Edit Profile', edit_user_path(current_user), class:'btn' %>
	