<!DOCTYPE html>
<html>
<head>
  <title>SnowBuddies</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to 'Add trip', new_trip_path %></li>
  <li class="divider"></li>
  <% if current_user != nil %>
    <li><%= link_to 'Your Trips', trip_path(current_user) %></li>
  <% end %>
  <li class="divider"></li>

 <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
</ul>
<nav>
 <div class="nav-wrapper">
     <div class='brand-logo'>
     <%= link_to(image_tag("snowbuddy_logo_and_name.png", width: '80%', :alt => "Logo"), '/') %>
      </div>
   <ul class="right hide-on-med-and-down">
   <% if current_user != nil %>
    <li><%= link_to 'View Profile', user_path(current_user) %></li>
     <li><a class="dropdown-button" data-activates="dropdown1">Menu<i class="material-icons right"></i></a></li>
     <% end %>
   </ul>
 </div>
</nav>

<% if flash.any? %>
	<% flash.each do |key, value| %>
		<div class="flash <%= key %>">
			<%= value %>
      <hr />
		</div>
	<% end %>
<% end %>


<%= yield %>

</body>
</html>
